 html, body {
  margin: 0;
  padding: 0;
  background-color: black;
   }

    nav{
             background-color: #000000;
             padding: 35px;
             
    }

    nav ul{
             list-style: none;
             margin: 0;
             padding: 0;
             display: flex;
             gap: 25px;
             margin-left: 880px;
    }

    nav ul li{
             margin-right: 20px;
    } 

     nav ul li{
             color: white;          
             text-decoration: none;
     }

nav a {
    color: white;       
    text-decoration: none; 
    font-size: 25px;
    font-family: 'Arial', sans-serif;
    margin-left: auto;

    position: relative;          
    transition: color 0.3s ease; 
}


nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;               
    left: 0;
    background-color: white;
    transition: width 0.3s ease; 
}


nav a:hover {
    color: #ffd700; 
}

nav a:hover::after {
    width: 100%; 
}
/* CONTAINER DAS PIZZAS */
/* TITULO */
.titulo{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 40px;
    font-family: Arial, sans-serif;
}

/* GRID DAS PIZZAS */
.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 40px;
    padding: 60px;
}

/* CARD DA PIZZA */
.pizza{
    background: #111;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    color: #ddd;
    border: 1px solid #222;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* HOVER */
.pizza:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 25px rgba(0,0,0,0.7);
}

/* IMAGEM */
.pizza img{
    width: 100%;
    height: 200px;
    object-fit: cover;

    margin-bottom: 15px;
}

/* TITULO DA PIZZA */
.pizza h3{
    color: white;
    font-size: 22px;
    margin-bottom: 10px;
}

/* DESCRIÇÃO */
.pizza p{
    font-size: 15px;
    line-height: 1.5;
    color: #bbb;
}

/* PREÇO */
.preco{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #ffd700;
}
